{% extends 'base.html' %}
{% block title %}Categories{% endblock title %}
{% block css %}{% endblock css %}
{% block body %}
{% load static %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/general_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">General</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/tech_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Technology</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/food_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Food</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/edu_and_facts.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Education and Facts</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/health_fit_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Health and Fitness</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/news_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">News</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/gaming_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Gaming</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/movie_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Movies and Entertainment</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/sports_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Sports</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/life_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Lifestyle</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/travel_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Travel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/art_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Art and Design</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/music_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Music</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/finance_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Finance</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/images/photography_cat.jpg' %}" class="card-img-top" alt="category Image">
                <div class="card-body">
                    <h5 class="card-title">Photography</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} <div class="container">
    <div class="card" style="width: 18rem;">
        <img src="{% static 'blog/images/Wallpaper.jpg' %}" class="card-img-top" alt="category Image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'blog/images/Wallpaper.jpg' %}" class="card-img-top" alt="category Image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'blog/images/Wallpaper.jpg' %}" class="card-img-top" alt="category Image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'blog/images/Wallpaper.jpg' %}" class="card-img-top" alt="category Image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'blog/images/Wallpaper.jpg' %}" class="card-img-top" alt="category Image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'blog/images/Wallpaper.jpg' %}" class="card-img-top" alt="category Image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'blog/images/Wallpaper.jpg' %}" class="card-img-top" alt="category Image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'blog/images/Wallpaper.jpg' %}" class="card-img-top" alt="category Image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'blog/images/Wallpaper.jpg' %}" class="card-img-top" alt="category Image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'blog/images/Wallpaper.jpg' %}" class="card-img-top" alt="category Image">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div> {% endcomment %}
{% endblock body %}
{% block js %}{% endblock js %}